<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.joeware.android.gpulumera" platformBuildVersionCode="23" platformBuildVersionName="6.0-2438415">
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="com.android.vending.BILLING"/>
    <permission android:name="com.joeware.android.gpulumera.gcm.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
    <uses-permission android:name="com.joeware.android.gpulumera.gcm.permission.C2D_MESSAGE"/>
    <application android:allowBackup="true" android:hardwareAccelerated="true" android:icon="@drawable/main_icon" android:label="@string/app_name_global" android:largeHeap="true" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar">
        <receiver android:name=".util.GcmBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="com.joeware.android.gpulumera.gcm"/>
            </intent-filter>
        </receiver>
        <service android:name=".util.GcmIntentService"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <activity android:label="@string/app_name_global" android:name=".activity.ActivityCamera" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBarWHite" android:windowSoftInputMode="adjustNothing"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name=".activity.ActivityCameraOther" android:screenOrientation="portrait" android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.media.action.IMAGE_CAPTURE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.VOICE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.joeware.android.gpulumera.MESSAGE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.STILL_IMAGE_CAMERA"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.VOICE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="image/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT"/>
                <category android:name="android.intent.category.OPENABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="image/*"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation" android:name=".activity.ActivityCameraLaunch" android:screenOrientation="portrait" android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation" android:name=".activity.ActivityPermission" android:screenOrientation="portrait" android:theme="@style/AppTheme.Splash"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name=".activity.ActivityUncaughtException" android:screenOrientation="portrait" android:theme="@style/ThemeTransparent"/>
        <activity android:excludeFromRecents="true" android:icon="@drawable/main_icon" android:label="@string/app_name" android:name=".activity.ActivityDummyCircle" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.lge.quickcover"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.ActivityWebView" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".setting.ActivitySetting" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".gallery.ActivityAlbum" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".gallery.ActivityDetail" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activity.FacebookNativeAdActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize" android:hardwareAccelerated="true" android:name="com.inmobi.androidsdk.IMBrowserActivity"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:name="com.google.android.gms.ads.AdActivity"/>
        <activity android:name="com.joeware.android.gpulumera.sticker.store.ActivityStickerStore" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar"/>
        <receiver android:enabled="true" android:exported="false" android:label="broadcastReceiverService" android:name="com.joeware.android.gpulumera.sticker.common.BroadcastStickerReward" android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <service android:name="com.joeware.android.gpulumera.sticker.common.ServiceStickerReward"/>
        <service android:name="com.upalytics.sdk.AnalyticsService">
            <meta-data android:name="api_key" android:value="a3bcde959"/>
        </service>
        <receiver android:name="com.upalytics.sdk.BootUpReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.upalytics.sdk.PackageInstallReceiver">
            <intent-filter android:priority="2">
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <action android:name="android.intent.action.PACKAGE_REPLACED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.joeware.android.gpulumera.util.BroadcastChangedPackage">
            <intent-filter android:priority="1">
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <action android:name="android.intent.action.PACKAGE_REPLACED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <meta-data android:name="com.joeware.android.gpulumera.ui.MyGlideModule" android:value="GlideModule"/>
        <activity android:label="@string/app_name" android:name="com.facebook.LoginActivity"/>
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
    </application>
</manifest>
