<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.locnall.KimGiSa" platformBuildVersionCode="22" platformBuildVersionName="5.1.1-1819727">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
    <uses-permission android:name="com.locnall.KimGiSa.permission.C2D_MESSAGE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <permission android:name="com.locnall.KimGiSa.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
    <uses-feature android:name="android.hardware.telephony" android:required="false"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <supports-screens android:anyDensity="true" android:largeScreens="true" android:normalScreens="true" android:resizeable="true" android:smallScreens="false" android:xlargeScreens="true"/>
    <uses-feature android:glEsVersion="0x20000" android:required="true"/>
    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <application android:allowBackup="false" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:largeHeap="true" android:name="com.locnall.KimGiSa.application.GlobalApplication" android:theme="@style/Theme.KakaoNavi">
        <meta-data android:name="com.kakao.sdk.AppKey" android:value="@string/kakao_app_key"/>
        <meta-data android:name="KINSIGHT_APP_KEY" android:value="@string/kakao_app_key"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:label="@string/app_name" android:name="com.locnall.KimGiSa.activity.IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:label="@string/app_name" android:name="com.locnall.KimGiSa.activity.ExternalIntroActivity"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:name="com.locnall.KimGiSa.activity.LoginActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:label="@string/title_auth" android:name="com.locnall.KimGiSa.activity.AccountProcessActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:label="@string/title_main" android:name="com.locnall.KimGiSa.activity.MainActivity" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:label="@string/title_search" android:name="com.locnall.KimGiSa.activity.SearchActivity" android:windowSoftInputMode="adjustResize"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:label="@string/title_address_search" android:name="com.locnall.KimGiSa.activity.SearchCategoryActivity"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:label="@string/title_address_search" android:name="com.locnall.KimGiSa.activity.SearchAddressActivity"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:label="@string/label_search_my_place" android:name="com.locnall.KimGiSa.activity.SearchMyDestinationsActivity">
?
</activity>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:label="@string/title_history" android:name="com.locnall.KimGiSa.activity.DestinationHistoryActivity"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:label="@string/title_tag" android:name="com.locnall.KimGiSa.activity.TagActivity" android:windowSoftInputMode="adjustPan"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:label="@string/title_tag" android:name="com.locnall.KimGiSa.activity.TagRegistActivity"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:name="com.locnall.KimGiSa.activity.DestinationInfoActivity" android:theme="@style/TransparentCompat"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:label="@string/title_destionation_edit" android:name="com.locnall.KimGiSa.activity.DestinationEditActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:name="com.locnall.KimGiSa.activity.DestinationBeehiveEditActivity" android:screenOrientation="portrait" android:theme="@style/TransparentCompat"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:label="@string/title_visiting_points_add" android:name="com.locnall.KimGiSa.activity.VisitingPointsAddActivity"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:label="@string/title_more" android:name="com.locnall.KimGiSa.activity.MoreActivity"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:label="@string/title_setting" android:name="com.locnall.KimGiSa.activity.SettingActivity"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:label="@string/title_setting_blackbox" android:name="com.locnall.KimGiSa.activity.SettingBlackboxActivity"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:label="@string/title_setting_night_mode" android:name="com.locnall.KimGiSa.activity.SettingNightModeActivity"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:label="@string/title_more_myinfo" android:name="com.locnall.KimGiSa.activity.MoreMyInfoActivity"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:label="@string/title_more_voice" android:name="com.locnall.KimGiSa.activity.MoreVoiceActivity"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:label="@string/title_more_voice_list" android:name="com.locnall.KimGiSa.activity.MoreVoiceListActivity"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:label="@string/title_more_view_type" android:name="com.locnall.KimGiSa.activity.MoreViewTypeActivity"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:label="@string/title_setting_blackbox_size" android:name="com.locnall.KimGiSa.activity.SettingBlackboxSizeActivity"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:label="@string/title_setting_blackbox_encoder" android:name="com.locnall.KimGiSa.activity.SettingBlackboxEncoderActivity"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:label="@string/title_setting_blackbox_max" android:name="com.locnall.KimGiSa.activity.SettingBlackboxMaxActivity"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:label="@string/title_more_error_report" android:name="com.locnall.KimGiSa.activity.MoreErrorReportListActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:label="@string/title_more_error_report" android:name="com.locnall.KimGiSa.activity.MoreErrorReportActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:name="com.locnall.KimGiSa.activity.MoreErrorReportFullActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:label="@string/title_more_map_setting" android:name="com.locnall.KimGiSa.activity.MoreMapSettingActivity" android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:name="com.locnall.KimGiSa.activity.WebViewActivity"/>
        <activity android:launchMode="singleTask" android:name="com.locnall.KimGiSa.Engine.SMS.CremoteActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.intent.action.VIEW"/>
                <data android:host="navigate" android:scheme="kimgisa"/>
                <data android:host="B2B_navigate" android:scheme="kimgisa"/>
                <data android:host="closeapp" android:scheme="kimgisa"/>
                <data android:host="navigate" android:scheme="kakaonavi"/>
                <data android:host="downloadTag" android:scheme="kakaonavi"/>
                <data android:host="closeapp" android:scheme="kakaonavi"/>
                <data android:host="startapp" android:scheme="kakaonavi"/>
                <data android:host="@string/kakaolink_host" android:scheme="@string/kakao_scheme"/>
                <data android:host="@string/kakaostory_host" android:scheme="@string/kakao_scheme"/>
            </intent-filter>
        </activity>
        <receiver android:exported="true" android:name="com.google.android.gms.gcm.GcmReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>
                <category android:name="com.locnall.KimGiSa"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="true" android:name="com.kakao.kinsight.sdk.android.ReferralReceiver">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <service android:exported="false" android:name="com.locnall.KimGiSa.service.GcmService">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </service>
        <service android:exported="false" android:name="com.locnall.KimGiSa.service.InstanceIDService">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>
        <service android:exported="false" android:name="com.locnall.KimGiSa.service.RegistrationIntentService"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <meta-data android:name="io.fabric.ApiKey" android:value="415b966f396db0742c699434d1ea8c0e69877191"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:name="com.google.android.gms.ads.AdActivity" android:theme="@android:style/Theme.Translucent"/>
        <activity android:name="com.google.android.gms.ads.purchase.InAppPurchaseActivity" android:theme="@style/Theme.IAPTheme"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.kakao.KakaoNaviSDK.UI.Activity.KNNaviActivity" android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.kakao.KakaoNaviSDK.UI.Activity.KNRouteInfoActivity"/>
        <service android:exported="false" android:name="com.kakao.KakaoNaviSDK.UI.Service.KNNaviWidgetService"/>
        <meta-data android:name="com.google.android.wearable.beta.app" android:resource="@xml/android_wear_micro_apk"/>
    </application>
</manifest>
