<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.hackers.app" platformBuildVersionCode="21" platformBuildVersionName="5.0.1-1624448">
    <uses-permission android:name="android.permission.RESTART_PACKAGES"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <permission android:name="com.hackers.app.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
    <uses-permission android:name="com.hackers.app.permission.C2D_MESSAGE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <supports-screens android:anyDensity="true" android:largeScreens="true" android:normalScreens="true" android:resizeable="true" android:smallScreens="true"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <application android:allowTaskReparenting="true" android:debuggable="false" android:hardwareAccelerated="true" android:icon="@drawable/icon" android:label="@string/app_name" android:name="com.hackers.common.ToeicApplication" android:requiredForAllUsers="false" android:theme="@android:style/Theme.Holo.Light.NoActionBar">
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize" android:label="@string/app_name" android:name="com.facebook.FacebookActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize" android:label="@string/app_name" android:name="com.facebook.FacebookActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:configChanges="keyboardHidden|orientation" android:label="@string/app_name" android:name=".LoadingActivity" android:screenOrientation="portrait" android:theme="@style/Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="mtoeic"/>
            </intent-filter>
        </activity>
        <activity android:name=".PopUpActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Black.NoTitleBar"/>
        <activity android:name="com.hackers.core.commonview.WantToHackersActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Black.NoTitleBar" android:windowSoftInputMode="adjustPan"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name=".MainActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name=".WebBookSelfIntro" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name=".WebBook" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name=".WebFreeMp3" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name=".WebSetActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name=".WebDailyActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name=".WebReadStart" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name=".WebTosOpic"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name=".WebBookIntro" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name=".WebEvent" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name=".ExpandableList" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:hardwareAccelerated="true" android:name=".WebRenew" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:hardwareAccelerated="true" android:name=".WebViewActivity" android:screenOrientation="portrait"/>
        <activity android:name=".SlidingExample"/>
        <activity android:name=".SlidingTitleBar"/>
        <activity android:name=".SlidingContent"/>
        <activity android:configChanges="orientation|screenLayout|screenSize" android:name=".ResponsiveUIActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name=".WebActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name=".ConversionActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name=".DailyListActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name=".VideoViewActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name=".ToeicTimerActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name=".DailyLCActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name=".DailyRCActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name=".DailyResultActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name=".DailyVocaActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name=".DailyVocaResultActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name=".DailyVocaEndingActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name=".BookVocaActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name=".BookVocaListActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name=".BookVocaListDetailActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name=".VideoToeicLectureActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name=".VideoExpectLectureListActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name=".VideoExpectLectureActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name=".ToeicTimerPreferenceActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name=".ExaminationHallActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name=".ExaminationHallSearchActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name=".ExaminationHallMapViewActivity" android:screenOrientation="portrait"/>
        <uses-library android:name="com.google.android.maps"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name=".ConversionResultActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name=".VideoExpectWebActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name=".WebEventActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name=".SettingActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name=".HackersWantActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustNothing"/>
        <activity android:name=".LocationAgreeActivity"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name=".IntroViewActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="hackers.com.app.calendar.CalendarActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustNothing"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name=".PersonalimformActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustNothing"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name=".PushWebEvent" android:screenOrientation="portrait"/>
        <receiver android:name="com.hackers.receiver.CalendarAlarmReceiver"/>
        <receiver android:name="com.google.android.gcm.GCMBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>
                <category android:name="com.hackers.app"/>
            </intent-filter>
        </receiver>
        <service android:name=".GCMIntentService"/>
        <service android:name="com.hackers.receiver.NetworkService">
            <intent-filter>
                <action android:name="com.hackers.receiver.NetworkService"/>
                <action android:name="android.intent.action.HEADSET_PLUG"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </service>
        <activity android:label="@string/title_activity_login" android:name=".LoginActivity"/>
    </application>
</manifest>
