<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.peace.SilentCamera" platformBuildVersionCode="23" platformBuildVersionName="6.0-2438415">
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <permission android:name="com.peace.SilentCamera.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
    <uses-permission android:name="com.peace.SilentCamera.permission.C2D_MESSAGE"/>
    <uses-feature android:glEsVersion="0x20000" android:required="true"/>
    <application android:allowBackup="true" android:icon="@drawable/ic_silentcamera" android:label="@string/app_name" android:largeHeap="@bool/largeheap" android:name="com.peace.SilentCamera.Globals" android:theme="@style/AppTheme">
        <meta-data android:name="openPushStartActivity" android:value=".CameraActivity"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:name="com.google.android.gms.ads.AdActivity" android:theme="@android:style/Theme.Translucent"/>
        <activity android:label="@string/app_name" android:name="com.peace.SilentCamera.CameraActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.IMAGE_CAPTURE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.STILL_IMAGE_CAMERA"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name="com.peace.SilentCamera.ViewerActivity"/>
        <activity android:label="@string/app_name" android:name="com.peace.SilentCamera.PreferenceActivity" android:screenOrientation="portrait"/>
        <activity android:label="@string/app_name" android:name="com.peace.SilentCamera.FilePathActivity" android:screenOrientation="portrait"/>
        <receiver android:exported="true" android:name="com.nifty.cloud.mb.core.NCMBGcmReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="com.peace.SilentCamera"/>
            </intent-filter>
        </receiver>
        <service android:exported="false" android:name="com.nifty.cloud.mb.core.NCMBGcmListenerService">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </service>
        <meta-data android:name="io.fabric.ApiKey" android:value="266ec490ac96ebc521f25b6ceada11dcd45c99f0"/>
        <activity android:name="com.google.android.gms.ads.purchase.InAppPurchaseActivity" android:theme="@style/Theme.IAPTheme"/>
        <provider android:authorities="com.peace.SilentCamera.google_measurement_service" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementContentProvider"/>
        <receiver android:enabled="true" android:name="com.google.android.gms.measurement.AppMeasurementReceiver">
            <intent-filter>
                <action android:name="com.google.android.gms.measurement.UPLOAD"/>
            </intent-filter>
        </receiver>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementService"/>
    </application>
</manifest>
