<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.everyontv" platformBuildVersionCode="16" platformBuildVersionName="4.1.2-1425332">
    <application android:debuggable="false" android:icon="@drawable/icon" android:label="@string/app_name" android:largeHeap="true" android:name="com.everyontv.common.Application" android:theme="@android:style/Theme.NoTitleBar">
        <activity android:label="@string/app_name" android:name="com.everyontv.EveryonTVLoad" android:screenOrientation="landscape" android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <data android:host="startActivity" android:scheme="kakaoLink"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:host="main" android:scheme="everyonAndroid"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.everyontv.EveryonTVMain" android:screenOrientation="landscape" android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="everyon.pandora.tv" android:scheme="cback"/>
            </intent-filter>
        </activity>
        <activity android:name=".NotiDialogActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.everyontv.EveryonTVEnvSet" android:screenOrientation="landscape" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity android:name="com.everyontv.EveryonTVAccount" android:screenOrientation="landscape" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity android:name="com.everyontv.EveryonTVFacebook" android:screenOrientation="landscape" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity android:name="com.everyontv.EveryonTVTwitter" android:screenOrientation="landscape" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity android:configChanges="orientation" android:name="com.everyontv.EveryonTVSchedule" android:screenOrientation="landscape" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity android:name="com.everyontv.EveryonTVSns" android:screenOrientation="landscape" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity android:configChanges="orientation" android:name="com.everyontv.EveryonTVWebChannelView" android:screenOrientation="portrait" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"/>
        <activity android:name="com.everyontv.EveryonTVWebView" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity android:name="com.everyontv.EveryonTVWebView2" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.everyontv.EveryonTVADIncross" android:screenOrientation="landscape" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.everyontv.EveryonTVADLitmus" android:screenOrientation="landscape" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.everyontv.EveryonTVADMezzo" android:screenOrientation="landscape" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.everyontv.EveryonTVServiceGuide" android:screenOrientation="landscape" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name=".EveryonTVCloseActivity" android:screenOrientation="landscape"/>
        <meta-data android:name="com.google.android.gms.version" android:value="4323000"/>
        <meta-data android:name="MEZZO_WINDOW_ID" android:value="banner"/>
        <meta-data android:name="GPS_USE" android:value="0"/>
        <meta-data android:name="DEBUG_MODE" android:value="0"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.everyontv.EveryonTVPlayerMain" android:screenOrientation="landscape" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.everyontv.EveryonTVADDMC" android:screenOrientation="landscape" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.everyontv.EveryonTVADNewDMC" android:screenOrientation="landscape" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.everyontv.EveryonTVADPrism" android:screenOrientation="landscape" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.everyontv.EveryonTVADSirup" android:screenOrientation="landscape" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.everyontv.EveryonTVADCauly" android:screenOrientation="landscape" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.everyontv.EveryonTVVodCategory" android:screenOrientation="landscape" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.incross.dawin.views.BKDialog" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.incross.dawin.DawinAdActivity" android:screenOrientation="sensorLandscape" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity android:name="com.innopia.smartrcu.abbr.SmartRCUActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.everyontv.openapi.EveryonTVKakaoLink">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="@string/kakaolink_host" android:scheme="@string/kakao_scheme"/>
            </intent-filter>
        </activity>
        <meta-data android:name="com.kakao.sdk.AppKey" android:value="@string/kakao_app_key"/>
        <provider android:authorities="com.innopia.smartrcu.abbr" android:exported="true" android:name="com.innopia.smartrcu.abbr.data.PairedBTProvider"/>
        <receiver android:name="com.google.android.gcm.GCMBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>
                <category android:name="com.everyontv"/>
            </intent-filter>
        </receiver>
        <service android:name=".GCMIntentService">
            <intent-filter>
                <action android:name="intent.action.com.everyontv"/>
            </intent-filter>
        </service>
        <service android:name=".CPIService">
            <intent-filter>
                <action android:name="intent.action.everyontv.CPIService"/>
            </intent-filter>
        </service>
        <service android:enabled="true" android:name=".MusicPlayerService"/>
    </application>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.RESTART_PACKAGES"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <permission android:name="com.everyontv.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
    <uses-permission android:name="com.everyontv.permission.C2D_MESSAGE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-feature android:name="android.hardware.bluetooth" android:required="false"/>
    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
    <uses-feature android:name="android.hardware.faketouch" android:required="false"/>
</manifest>
