<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="preferExternal" package="com.dailyyoga.inc" platformBuildVersionCode="21" platformBuildVersionName="5.0.1-1624448">
    <supports-screens android:anyDensity="true" android:largeScreens="true" android:normalScreens="true" android:xlargeScreens="true"/>
    <permission android:label="Read payment status" android:name="com.dailyyoga.inc.PAYMENT_BROADCAST_PERMISSION" android:protectionLevel="signature"/>
    <permission android:name="com.dailyyoga.inc.permission.JPUSH_MESSAGE" android:protectionLevel="signature"/>
    <uses-permission android:name="com.dailyyoga.inc.PAYMENT_BROADCAST_PERMISSION"/>
    <uses-permission android:name="com.dailyyoga.inc.permission.JPUSH_MESSAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="com.android.vending.BILLING"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:largeHeap="true" android:name="com.dailyyoga.inc.YogaInc" android:theme="@style/DailyYogaTheme">
        <activity android:configChanges="locale|keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:label="@string/app_name" android:name="com.dailyyoga.inc.community.fragment.ForumUploadPostActivity" android:screenOrientation="behind"/>
        <activity android:configChanges="locale|keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:name="com.dailyyoga.inc.LogInActivity" android:screenOrientation="portrait" android:theme="@style/customlogin" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:configChanges="locale|keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:name="com.dailyyoga.inc.LoadingActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="app.dailyyoga.com" android:scheme="dailyyogah2o"/>
            </intent-filter>
        </activity>
        <service android:name="com.net.tool.YogaResDownLoadService"/>
        <receiver android:exported="false" android:name="com.net.tool.DownloadReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <activity android:excludeFromRecents="true" android:name="com.count.CountActivity" android:taskAffinity="" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"/>
        <receiver android:name="com.count.PresentReceiver">
            <intent-filter>
                <action android:name="count_action_rotation"/>
                <action android:name="count_action_end"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
        </receiver>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:name="com.appbrain.AppBrainActivity"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:name="com.google.android.gms.ads.AdActivity" android:theme="@android:style/Theme.Translucent"/>
        <service android:name="com.appbrain.AppBrainService"/>
        <receiver android:exported="true" android:name="com.appbrain.ReferrerReceiver">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <meta-data android:name="luckad_sid" android:value="809"/>
        <meta-data android:name="luckad_aid" android:value="626"/>
        <meta-data android:name="glispa_id" android:value="bc08bc40-1dfd-4848-9a3c-1438ce778b68"/>
        <meta-data android:name="adtype_name" android:value="adtype_v3.html"/>
        <meta-data android:name="pubnative_bundle_id" android:value="com.dailyyoga.inc"/>
        <meta-data android:name="pubnative_app_token" android:value="3de4293258e9bf38828853b6f2dfbb593cc30f84a6e9c938499ecfbac552f22b"/>
        <receiver android:name="imoblife.luckad.ad.AdsNetChangedReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:launchMode="singleTask" android:name="com.dailyyoga.common.FrameworkActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:name="com.dailyyoga.inc.personal.fragment.MyFollowerActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.dailyyoga.inc.login.RegiestIncActivity" android:screenOrientation="behind" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.dailyyoga.inc.login.RegiestPassIncActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.dailyyoga.inc.login.EditInfoActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.dailyyoga.inc.login.ResetPassActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:name="com.dailyyoga.inc.personal.fragment.MyFansActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:name="com.dailyyoga.inc.personal.fragment.TaPersonalActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:name="com.dailyyoga.inc.personal.fragment.MyPersonalActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:name="com.dailyyoga.inc.personal.fragment.TaFollowActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:name="com.dailyyoga.inc.personal.fragment.TaFansActivity" android:screenOrientation="portrait"/>
        <intent-filter>
            <action android:name="com.dalyyoga.session"/>
            <category android:name="android.intent.category.DEFAULT"/>
            <category android:name="com.dailyyoga.cn"/>
            <data android:scheme="session"/>
        </intent-filter>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:name="com.dailyyoga.inc.personal.fragment.EnergiesActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:name="com.dailyyoga.inc.personal.fragment.RecommendActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:name="com.dailyyoga.inc.personal.fragment.ShareActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:label="@string/app_name" android:name="com.dailyyoga.inc.personal.fragment.RankingActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:label="@string/app_name" android:name="com.dailyyoga.inc.personal.fragment.ChartsActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:label="@string/app_name" android:name="com.dailyyoga.inc.personal.fragment.MyCollectActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:label="@string/app_name" android:name="com.dailyyoga.inc.personal.fragment.MySessionActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:label="@string/app_name" android:name="com.dailyyoga.inc.personal.fragment.MyProgramActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:label="@string/app_name" android:name="com.dailyyoga.inc.personal.fragment.ShowPictureActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:name="com.dailyyoga.inc.session.fragment.SessionDetailActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="www.dailyyoga.com" android:pathPattern=".inc.*dailyyoga.*" android:scheme="http"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:name="com.dailyyoga.inc.session.fragment.ActDescActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:name="com.dailyyoga.inc.session.fragment.SessionDescActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:configChanges="keyboard|keyboardHidden|mcc|mnc|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:name="com.dailyyoga.inc.session.fragment.ActPlayActivity" android:screenOrientation="landscape" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>
        <activity android:configChanges="keyboard|keyboardHidden|mcc|mnc|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:name="com.dailyyoga.inc.session.fragment.SessionPlayActivity" android:screenOrientation="landscape" android:theme="@style/SessionPlayStyle"/>
        <activity android:configChanges="keyboard|keyboardHidden|mcc|mnc|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:name="com.dailyyoga.inc.session.fragment.YoGaPurchaseActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:configChanges="keyboard|keyboardHidden|mcc|mnc|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:name="com.dailyyoga.inc.session.fragment.UploadSessionResultActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:configChanges="keyboard|keyboardHidden|mcc|mnc|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:name="com.dailyyoga.inc.program.fragment.ProgramDetailActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:configChanges="keyboard|keyboardHidden|mcc|mnc|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:name="com.dailyyoga.inc.program.fragment.ProgramDescActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:name="com.dailyyoga.inc.session.fragment.PoseLibraryActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:name="com.dailyyoga.inc.session.fragment.PoseLibraryDetailActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:name="com.dailyyoga.inc.program.fragment.ProgramSetupActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:name="com.dailyyoga.inc.program.fragment.ProgramScheduleActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden"/>
        <receiver android:name="com.dailyyoga.inc.program.model.ProgramAlermNotify">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="intent.action.program.before"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.dailyyoga.inc.program.model.ProgramMissAlermNotify">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="intent.action.program.miss"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.dailyyoga.inc.program.model.YogaInstallAlarmNotify">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="intent.action.yoga.install.second"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.dailyyoga.inc.program.model.YogaThreeNotificationAlarmNotify">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="intent.action.yoga.three.notification"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.dailyyoga.inc.program.model.BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.dailyyoga.inc.program.model.ProgramNotificationReceiver">
            <intent-filter>
                <action android:name="intent.action.program.ontime"/>
            </intent-filter>
        </receiver>
        <receiver android:label="@string/app_name" android:name="com.dailyyoga.res.InstallReceive">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <activity android:configChanges="keyboard|keyboardHidden|mcc|mnc|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:name="com.dailyyoga.inc.setting.fragment.SettingActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:configChanges="keyboard|keyboardHidden|mcc|mnc|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:name="com.dailyyoga.inc.setting.fragment.GoogleFitActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:configChanges="keyboard|keyboardHidden|mcc|mnc|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:name="com.dailyyoga.inc.setting.fragment.SettingClassifyActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:configChanges="keyboard|keyboardHidden|mcc|mnc|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:name="com.dailyyoga.inc.setting.fragment.PrivacyBlackListActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:configChanges="keyboard|keyboardHidden|mcc|mnc|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:name="com.dailyyoga.inc.setting.fragment.ChangePasswordActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:configChanges="keyboard|keyboardHidden|mcc|mnc|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:name="com.dailyyoga.inc.personal.fragment.BmBasicMusicActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:configChanges="keyboard|keyboardHidden|mcc|mnc|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:name="com.dailyyoga.inc.personal.fragment.BmPlayMusicActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:configChanges="keyboard|keyboardHidden|mcc|mnc|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:name="com.dailyyoga.inc.personal.fragment.BmMusicImportActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:configChanges="locale|keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:hardwareAccelerated="false" android:name="com.dailyyoga.inc.community.fragment.TopicListsActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="locale|keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:hardwareAccelerated="false" android:name="com.dailyyoga.inc.community.fragment.SearchTopicActivity" android:screenOrientation="behind"/>
        <activity android:configChanges="locale|keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:hardwareAccelerated="false" android:name="com.dailyyoga.inc.community.fragment.TopicDetailsActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"/>
        <activity android:configChanges="locale|keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:hardwareAccelerated="false" android:name="com.dailyyoga.inc.community.fragment.SelectImagesActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="locale|keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:hardwareAccelerated="false" android:name="com.dailyyoga.inc.community.fragment.ShowPicturesActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="locale|keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:hardwareAccelerated="false" android:name="com.dailyyoga.inc.community.fragment.RecommentListActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="locale|keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:hardwareAccelerated="false" android:name="com.dailyyoga.inc.personal.fragment.MyPostsActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="locale|keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:hardwareAccelerated="false" android:name="com.dailyyoga.inc.notifications.fragment.NotificationMainActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="locale|keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:hardwareAccelerated="false" android:name="com.dailyyoga.inc.notifications.fragment.YxmNotificationActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="locale|keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:hardwareAccelerated="false" android:name="com.dailyyoga.inc.notifications.fragment.CommentNotificationActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="locale|keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:hardwareAccelerated="false" android:name="com.soundcloud.android.crop.CropImageActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="locale|keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:hardwareAccelerated="false" android:name="com.dailyyoga.inc.notifications.fragment.NewFansNotificationActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize" android:label="@string/app_name" android:name="com.facebook.FacebookActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/app_id"/>
        <meta-data android:name="com.facebook.sdk.ApplicationName" android:value="@string/inc_facebook_app_name"/>
        <provider android:authorities="com.facebook.app.FacebookContentProvider307754839306779" android:exported="true" android:name="com.facebook.FacebookContentProvider"/>
        <activity android:configChanges="locale|keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:hardwareAccelerated="false" android:name="com.dailyyoga.inc.notifications.fragment.PrivateMesNotificationDetailActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="locale|keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:hardwareAccelerated="false" android:name="com.dailyyoga.inc.notifications.fragment.PrivateMesNotificationListActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="locale|keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:hardwareAccelerated="false" android:name="com.dailyyoga.inc.personal.fragment.YoGaHasPurchaseActivity" android:screenOrientation="portrait"/>
        <meta-data android:name="JPUSH_CHANNEL" android:value="developer-default"/>
        <meta-data android:name="JPUSH_APPKEY" android:value="22bc0cdd29134a283e076042"/>
        <service android:enabled="true" android:exported="false" android:name="cn.jpush.android.service.DownloadService"/>
        <service android:enabled="true" android:exported="false" android:label="@string/app_name" android:name="cn.jpush.android.service.PushService">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER"/>
                <action android:name="cn.jpush.android.intent.REPORT"/>
                <action android:name="cn.jpush.android.intent.PushService"/>
                <action android:name="cn.jpush.android.intent.PUSH_TIME"/>
            </intent-filter>
        </service>
        <receiver android:enabled="true" android:name="cn.jpush.android.service.PushReceiver">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY"/>
                <category android:name="com.dailyyoga.inc"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver android:name="cn.jpush.android.service.AlarmReceiver"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="cn.jpush.android.ui.PushActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="com.dailyyoga.inc"/>
            </intent-filter>
        </activity>
        <receiver android:enabled="true" android:name="com.dailyyoga.inc.jpush.receiver.ClientReceiver">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION"/>
                <action android:name="cn.jpush.android.intent.UNREGISTRATION"/>
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED"/>
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED"/>
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK"/>
                <action android:name="cn.jpush.android.intent.CONNECTION"/>
                <category android:name="com.dailyyoga.inc"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="true" android:name="com.dailyyoga.inc.jpush.receiver.InstallReceiver">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <activity android:configChanges="locale|keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:hardwareAccelerated="false" android:name="com.dailyyoga.inc.TermsServiceActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="locale|keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:hardwareAccelerated="false" android:name="com.dailyyoga.inc.PrivacyPolicyActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="locale|keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:hardwareAccelerated="false" android:name="com.dailyyoga.inc.login.RateAcitvity" android:screenOrientation="portrait"/>
        <activity android:configChanges="locale|keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:hardwareAccelerated="false" android:name="com.dailyyoga.inc.setting.fragment.ManageSubstriptionActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="locale|keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:hardwareAccelerated="false" android:name="com.dailyyoga.inc.ChooseLevelActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="locale|keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:hardwareAccelerated="false" android:name="com.dailyyoga.inc.ChooseGoalActivity" android:screenOrientation="portrait" android:theme="@style/customlogin"/>
        <activity android:configChanges="locale|keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:hardwareAccelerated="false" android:name="com.dailyyoga.inc.session.fragment.ReProgramsSessionActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="locale|keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:hardwareAccelerated="false" android:name="com.dailyyoga.inc.personal.fragment.DiscountCodeActivity" android:screenOrientation="portrait"/>
        <activity android:alwaysRetainTaskState="false" android:excludeFromRecents="true" android:launchMode="singleTask" android:name="com.dailyyoga.inc.LoadResActivity" android:process=":prepare" android:screenOrientation="portrait"/>
    </application>
</manifest>
